

.service-page {
    height: 900px;

    .wrapper {
        width: 90%;
        height: 775px;
        margin: 100px auto;
        padding: 30px 30px 30px 30px;
        border-radius: 48px;
        background: #FFF;
    }
}

