@import "../../../../App.scss";

.project-a {
    //width: 90rem;
    min-height: 150vh;
    background: #0F0D18;
    mix-blend-mode: inherit; //luminosity;
    // background: linear-gradient(180deg, #7E5DEC 0%, rgba(126, 93, 236, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    .bg-img {
        background-image: url("../../../../image/back.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;

        .foot-head .wrapper .bottom {
            position: absolute;
            bottom: -200px;
            display: flex;
            flex-direction: column;
            padding: 72px 144px;
            justify-content: center;
            width: 820px;
            align-items: center;
            gap: 10px;
            border-radius: 48px;
            background: #1B1924;
        }
    }

   
}

