@import "../../App.scss";

.form {
    width: 827px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 250px;
    margin-bottom: 100px;
    //background: green;
    @include tablet {
        width: 80%;
        margin-left: 0px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        //background: yellow;

        input {
            display: flex;
            padding: 32px 0px;
            align-items: center;
            gap: 16px;
            align-self: stretch;
            border-bottom: 1px solid #9797A6;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            outline: none;
            color: #777192;
            text-align: justify;
            font-family: Geist Mono Variable;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%; /* 22px */
            letter-spacing: -0.4px;

            @include phones {
                font-size: 14px;
            }
        }

        textarea {
            height: 178px;
            color: #777192;
            font-family: Geist Mono Variable;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%; /* 22px */
            letter-spacing: -0.4px;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            text-align: justify;
            outline: none;
        }

        .budjet {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            h2 {
                height: 29px;
                color: #0F0D18;
                font-family: Geist;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
            }

            .price {
                display: flex;
                width: 827px;
                align-items: center;
                align-content: center;
                gap: 12px;
                flex-wrap: wrap;

                .price-item {
                    display: flex;
                    padding: 24px 32px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 200px;
                    border: 1px solid #9797A6;
                    color: #0F0D18;
                    text-align: center;
                    font-family: Geist Mono Variable;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%; /* 22px */
                    letter-spacing: -0.4px;
                }
            }
        }

        button {
            cursor: pointer;
            width: 180px;
            height: 66px;
            display: inline-flex;
            padding: 24px 32px;
            margin-top: 68px;
            outline: none;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 200px;
            border: 1px solid #7E5DEC;
            background: #7E5DEC;
            color: #FFF;
            text-align: center;
            font-family: Geist Mono Variable;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%; /* 17.6px */
            @include phones {
                margin-top: 38px;
            }
        }
    }
}